extends base

mixin post(obj)
    .card__bx(data-post=`${JSON.stringify(obj)}`)
        figure.card__bx--photo 
            img.card__bx--image(src=obj.photo)

   
block  page 
    .box_back 
        a.link--back(href='/') 
            img.back--image(src='/photos/icons/back.png' height="20rem")
    .box_setting 
        span.box_setting--icon <i class="fa-solid fa-gear"></i>
    main.account 
        - const calcDate = date => {
        -    const diffInMillisecond = Date.now() - date.getTime();
        -   const diffInMinutes = Math.floor(diffInMillisecond / ( 1000 * 60))
        -   return !diffInMinutes ? false : ` depuit in : ${diffInMinutes} minutes`
        - }  

        header.account_header 
            picture.account_header--photobox 
                img.account_header--photo(src=user.photo alt=`Photo of ${user.name}`)
            .account_header--info 
                strong.account_header--name= user.name
                p.account_header--username= user.email
                p.account_header--text= user.bio 
                p.account_header--connect= !calcDate(user.online) ? 'online': calcDate(user.online)
            .account_header--btnbox
                button.btn_edit.account_header--btn Edit password
                button.logout.account_header--btn 
                    span Logout <i class="fa-solid fa-arrow-right-from-bracket"></i>
        section.account_content
            each p in user.posts 
                +post(p)
        form.account_form(data-user=`${user._id}`)
            span.account_form--remove <i class="fa-solid fa-xmark"></i>
            h3.account_form--title Update Your info here 
            .account_form--group 
                label.account_form--label(for="name") Name :
                input.account_form--input(type="text" name='name' value=`${user.name}`)
            .account_form--group 
                label#name.account_form--label(for="email") Address Email :
                input#email.account_form--input(type="email" name='email' value=`${user.email}`)
            .account_form--group 
                label.account_form--label(for="photo_update")
                    img(src=user.photo)
                input#photo_update.account_form--file(type="file" name='photo')
            .account_form--group 
                textarea#bio(name="bio", cols="30", rows="10", maxLength='65')= user.bio 
            .account_form--group 
                input.account_form--btn(type="submit" value='up date')



        form.account_form--password(action="")
            span.account_form--rm <i class="fa-solid fa-xmark"></i>
            .form_group 
                input#current-pass(type="password" placeholder='Current password' name='currentpassword')
            .form_group 
                input#new-pass(type="password" placeholder='New password' name='newpassword')
            .form_group 
                input#confrim-pass(type="password" placeholder='Confirm password' name='confirmpassword')
            .form_group 
                input(type="submit" value='update') 


        article.show__post
            span.account_form--rmpost <i class="fa-solid fa-xmark"></i>
            #show__post--content
        
            